<template>
  <div class="sidebar bg-white p-8 rounded-br-3xl">
    <div class="sidebar-container">
      <div class="filter-boxs flex flex-col gap-y-14">
        <div
          class="filter-box flex flex-col gap-y-5"
          v-for="(checkbox, index) in checkboxs"
          :key="index"
        >
          <div
            class="filter-box__head text-slate-400 text-xs cursor-context-menu"
          >
            <h4>{{ checkbox.title }}</h4>
          </div>
          <div class="check-boxs flex flex-col gap-y-4" v-if="checkbox.options">
            <div
              class="check-box flex items-center w-full"
              v-for="(option, index) in checkbox.options"
              :key="index"
            >
              <input
                :id="option"
                type="checkbox"
                value=""
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
              />
              <label
                :for="option"
                class="ml-2 text-sm font-medium text-gray-500"
                >{{ option }}</label
              >
            </div>
          </div>
          <div class="range-box" v-else>
            <input
              type="range"
              name="priceRange"
              id="priceRange"
              class="w-full"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(["checkboxs"]),
  },
};
</script>

<style>
</style>