<template>
  <div
    class="car-banner rounded-2xl"
    :class="banner.bgColor"
    :style="{
      'background-image':
        'url(' +
        require('@/assets/images/backgrounds/' + banner.bgPattern + '.svg') +
        ')',
    }"
  >
    <div class="car-banner__content w-full px-7 pt-7 pb-2">
      <div class="car-banner__title text-3xl lg:text-4xl text-white font-semibold">
        <h2 v-html="banner.title"></h2>
      </div>
      <div class="car-banner__para text-zinc-200 mt-4 mb-8">
        <p v-html="banner.text"></p>
      </div>
      <div class="car-banner__btn mb-7 text-white">
        <button>
          <nuxt-link
            :to="{name: 'Shop'}"
            :class="banner.btnBgColor"
            class="px-5 py-3 rounded"
            >{{ banner.btnText }}</nuxt-link
          >
        </button>
      </div>
      <div class="car-banner__img">
        <img
          class="mx-auto"
          :src="require('@/assets/images/cars/' + banner.carImg + '.svg')"
          :alt="banner.carImg"
          :width="banner.imgWidth"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    banner: {
      type: Object,
      required: true,
    },
  },
  methods: {},
};
</script>

<style scoped lang="scss">
.car-banner {
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    line-height: 45px;
  }
  &__btn {
    button {
      transition: ease-in-out 0.3s;
      &:hover {
        transform: scale(0.95);
      }
    }
  }
}
</style>