<template>
  <div class="car-features bg-white py-7 px-6 md:px-11 rounded-2xl flex flex-col justify-between">
    <div class="car-features__top flex justify-between">
      <div class="flex flex-col gap-y-3">
        <h1 class="car-features__title text-3xl font-semibold">
          {{ car.name }}
        </h1>
        <div class="flex flex-col md:flex-row gap-x-2">
          <div class="car-features__rating flex items-center">
            <svg
              v-for="(star, index) in 5"
              :key="index"
              aria-hidden="true"
              class="w-5 h-5"
              :class="rate > index ? 'text-yellow-400' : 'text-gray-300'"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
          </div>
          <div class="car-features__reviews-count text-sm text-gray-600">
            <span>
              <!-- {{ reviewersCount }}  -->
              + Reviewers</span
            >
          </div>
        </div>
      </div>
      <div class="text-zinc-300 cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-8 h-8"
        >
          <path
            d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"
          />
        </svg>
      </div>
    </div>
    <div class="car-features__middle  flex flex-col gap-y-8 mt-9 mb-12">
      <div class="car-features__description text-gray-500">
        <p>{{ car.description }}</p>
      </div>
      <div class="car-features__details grid grid-cols-2 gap-x-12 gap-y-3">
        <div
          class="car-features__detail col-span-1 flex flex-col gap-y-1 sm:flex-row lg:flex-col xl:flex-row justify-between"
          v-for="(item, i) in details"
          :key="i"
        >
          <span class="text-gray-500">{{ item.key }}</span>
          <span class="text-gray-400">{{ item.value }}</span>
        </div>
      </div>
    </div>
    <div class="car-features__bottom flex flex-col gap-y-6 xxs:flex-row lg:flex-col xl:flex-row justify-between items-center">
      <div class="car-features__price flex flex-col gap-y-1">
        <span class="font-bold text-3xl">${{car.pricePerDayDis}}.00/ <span class="text-gray-400 text-lg">days</span></span>
        <span class="line-through text-gray-400" v-if="car.pricePerDay !== car.pricePerDayDis">${{car.pricePerDay}}</span>
      </div>
      <div class="car-features__button">
        <button>
          <nuxt-link :to="{name: 'RentForm-name', params: {name: car.name}}" class="bg-blue-600 block text-white px-6 py-3 md:px-8 md:py-4 rounded-md hover:bg-blue-700">
            Rent Now</nuxt-link
          >
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // reviewersCount: this.car.reviewers.length
    };
  },
  props: {
    car: {
      type: Object,
      required: true,
    },
  },
  computed: {
    details() {
      return [
        { key: "Type Car", value: this.car.type },
        { key: "Capacity", value: `${this.car.capacity} Person` },
        { key: "Steering", value: this.car.steering },
        { key: "Gasoline ", value: `${this.car.gasoline} L` },
      ];
    },
    rate() {
      return Math.floor(this.car.rate);
    },
    reviewersCount() {
      return this.car.reviewers.length;
    },
  },
};
</script>

<style scoped lang="scss">
.car-features{
    &__button{
        a{
            transition: ease-in-out .3s;
        }
    }
}
</style>