<template>
  <div class="gallery flex flex-col gap-y-6">
    <div
      class="gallery__show-box p-6 rounded-3xl"
      :class="chosenBoxIndex === 0 ? 'bg-blue-500' : ''"
      :style="{
        'background-image':
          'url(' +
          require('@/assets/images/' + getImgPath() + getImgUrl() + '.svg') +
          ')', 'height': chosenBoxIndex !== 0 ? '330px' : 'auto'}"
    >
      <div class="gallery__content" v-show="chosenBoxIndex === 0">
        <div class="gallery__title text-3xl font-semibold text-white">
          <h4>
            Sports car with the best<br />
            design and acceleration
          </h4>
        </div>
        <div class="gallery__desc mt-4 mb-8 text-gray-200">
          <p>
            Safety and comfort while driving a<br />
            futuristic and elegant sports car
          </p>
        </div>
        <div
          class="gallery__image"
          v-for="(image, index) in images"
          :key="index"
        >
          <img
            class="mx-auto"
            v-if="index === 0"
            :src="require('@/assets/images/cars/' + image + '.svg')"
            :alt="image"
            width="380px"
            
          />
        </div>
      </div>
    </div>
    <div class="gallery__img-boxs grid grid-cols-3 gap-6">
      <div
        class="gallery__img-box col-span-1 rounded-xl cursor-pointer"
        v-for="(image, index) in images"
        :key="index"
        @click="setChosenImg(index, image)"
        :class="
          chosenBoxIndex === index
            ? index === 0
              ? 'bg-blue-500 outline outline-offset-2 outline-blue-500'
              : 'outline outline-offset-2 outline-blue-500'
            : 'bg-blue-500'
        "
        :style="{
          'background-image':
            'url(' +
            require(`@/assets/images/${
              index === 1 ? `cars/${image}` : 'backgrounds/bg2'
            }.svg`) +
            ')',
        }"
      >
        <img
          class="mx-auto py-9"
          v-show="index === 0"
          :src="require('@/assets/images/cars/' + image + '.svg')"
          :alt="image"
          width="150px"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      chosenBoxIndex: 0,
      chosenImgName: 0,
    };
  },
  props: {
    car: {
      type: Object,
      required: true,
    },
  },
  computed: {
    images() {
      return this.car.images;
    },
  },
  methods: {
    getImgPath() {
      if (this.chosenBoxIndex === 0) {
        return "backgrounds/";
      } else {
        return "cars/";
      }
    },
    getImgUrl() {
      if (this.chosenBoxIndex === 0) {
        return "bg2";
      } else {
        return this.chosenBoxName;
      }
    },
    setChosenImg(index, name) {
      this.chosenBoxName = name;
      this.chosenBoxIndex = index;
    },
  },
};
</script>

<style scoped lang="scss">
.gallery {
  &__show-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -50px;
  }
  &__img-box {
    background-size: cover;
    transition: ease-in-out 0.15s;
  }
}
</style>