<template>
  <div class="car-reviews bg-white py-6 px-8 rounded-lg flex flex-col gap-y-8">
    <div class="car-reviews__title">
      <span class="text-xl font-bold">Reviews</span>
      <span>{{ reviewersLength }}</span>
    </div>
    <div class="reviews-box flex flex-col gap-y-7">
      <div
        class="review-box flex flex-col gap-y-5 sm:flex-row gap-x-5"
        v-for="(reviewer, index) in car.reviewers"
        :key="index"
      >
        <div class="review-box__img">
          <img
            v-if="reviewer.profile.includes('person')"
            :src="
              require('@/assets/images/persons/' + reviewer.profile + '.svg')
            "
            alt=""
          />
          <div
            v-else
            class="rounded-full flex justify-center items-center text-white"
            :style="{ 'background-color': reviewer.profile }"
          >
            {{ reviewer.name[0] }}
          </div>
        </div>
        <div class="review-box__content w-full flex flex-col gap-y-3">
          <div class="review-box__details flex justify-between items-center">
            <div class="flex flex-col gap-y-1">
              <span class="text-lg font-semibold">{{ reviewer.name }}</span>
              <span class="text-sm text-gray-400">{{ reviewer.role }}</span>
            </div>
            <div class="flex flex-col items-end gap-y-2">
              <div class="review-box__date text-gray-400 text-sm">
                <span>{{ reviewer.date }}</span>
              </div>

              <div class="review-box__rating flex items-center">
                <svg
                  v-for="(star, index) in 5"
                  :key="index"
                  aria-hidden="true"
                  class="w-5 h-5"
                  :class="
                    Math.floor(reviewer.rate) > index
                      ? 'text-yellow-400'
                      : 'text-gray-300'
                  "
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="review-box__comment text-gray-500">
            <p>{{ reviewer.comment }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    car: {
      type: Object,
      required: true,
    },
  },
  computed: {
    reviewersLength() {
      // ???????????????????????????????
      // return this.car.reviewers.length;
    },
  },
};
</script>

<style scoped lang="scss">
.review-box {
  &__img {
    div {
      height: 56px;
      width: 56px;
    }
  }
}
</style>