<template>
  <div class="single-car flex flex-col lg:grid lg:grid-cols-2 lg:gap-x-7 lg:px-6">
    <div class="single-car-gallery lg:col-span-1">
      <SingleCarGallery :car="currentCar"/>
    </div>
    <div class="single-car-feature mt-7 lg:mt-0 lg:col-span-1">
      <SingleCarFeatures :car="currentCar"/>
    </div>
    <div class="single-car-reviews lg:col-span-2 mt-10">
      <SingleCarReviews :car="currentCar"/>
    </div>
    <div class="single-car-similars"></div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  head(){
    return{
      title: this.currentCar.name 
    }
  },
  computed: {
    ...mapState(['currentCar'])
  },
  created() {
    this.$store.dispatch("setCurrentCar", this.$route.params.name);
  },
};
</script>

<style>
</style>