<template>
  <div
    class="car-box flex flex-col bg-white rounded-lg cursor-pointer hover:shadow-lg hover:shadow-zinc-200 justify-between px-7 py-5"
  >
    <div class="car-box__top flex justify-between items-center">
      <div class="car-box__title flex flex-col">
        <span class="text-xl font-bold">{{ car.name }}</span>
        <span class="text-sm font-bold text-slate-400">{{ car.type }}</span>
      </div>
      <div class="car-box__like text-zinc-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"
          />
        </svg>
      </div>
    </div>
    <div class="car-box__img h-44 flex items-center">
      <img
        class="mx-auto w-56"
        :src="require('@/assets/images/cars/' + car.images[0] + '.svg')"
        :alt="car.images[0]"
      />
    </div>
    <div class="car-box__bottom flex flex-col gap-y-6">
      <div
        class="car-box__details flex justify-between xs:grid xs:grid-cols-2 xs:gap-y-3 sm:flex 2md:grid 2md:grid-cols-2 2md:gap-y-4 lg:flex 2lg:grid 2lg:grid-cols-2 2lg:gap-y-4 xl:flex"
      >
        <div class="car-box__gasoline flex gap-x-1.5 text-slate-400">
          <img
            src="@/assets/images/icons/gasoline.svg"
            class="w-5"
            alt="gasoline-icon"
          />
          <span class="text-sm">{{ car.capacity }} L</span>
        </div>
        <div class="car-box__steering flex gap-x-1.5 text-slate-400 items-center">
          <img
            src="@/assets/images/icons/steering.svg"
            class="w-5"
            alt="steering-icon"
          />
          <span class="text-sm">{{ car.steering }}</span>
        </div>
        <div class="car-box__capacity flex gap-x-1.5 text-slate-400">
          <img
            src="@/assets/images/icons/capacity.svg"
            class="w-5"
            alt="capacity-icon"
          />
          <span class="text-sm">{{ car.capacity }} People</span>
        </div>
      </div>
      <div
        class="car-box__action flex justify-between items-center xs:flex-col xs:gap-y-3 xs:text-center sm:flex-row sm:text-left 2lg:flex-col 2lg:text-center xl:flex-row xl:text-left"
      >
        <div class="car-box__price">
          <span class="font-semibold text-lg block"
            >${{ car.pricePerDayDis }}/<span class="text-slate-400">
              day</span
            ></span
          >
          <span
            class="text-slate-400 line-through text-sm block"
            v-if="car.pricePerDayDis !== car.pricePerDay"
            >{{ car.pricePerDay }}</span
          >
        </div>
        <div class="car-box__btn">
          <button>
            <nuxt-link
              :to="{name: 'Shop-name',params: {name: car.name}}"
              class="px-4 py-2 xs:text-sm md:text-base 2md:text-sm lg:text-base rounded text-white bg-blue-600 cursor-pointer"
              >Rent Now</nuxt-link
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    car: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
.car-box {
  transition: ease-in-out 0.3s;
  &__btn {
    a {
      display: block;
      transition: ease-in-out 0.4s;
      &:hover {
        transform: scale(0.95);
      }
    }
  }
}
</style>