<template>
  <div>
    <div
      class="rent-details flex flex-col gap-y-5 items-center md:flex-row md:justify-between md:gap-x-5"
    >
      <RentDetails :details="details" title="pick-up" />
      <SwitchIcon />
      <RentDetails :details="details" title="Drop - Off" />
    </div>
    <div class="cars mt-9">
      <CarBoxs />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      details: [
        {
          title: "Location",
          subTitle: "Select your city",
          values: ["New York", "Los Angeles", "Chicago", "Miami", "Las Vegas"],
          height: 1,
        },
        {
          title: "Date",
          subTitle: "Select your date",
          values: [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9",
            "10",
            "11",
            "12",
            "13",
            "14",
            "15",
            "16",
            "17",
            "18",
            "19",
            "20",
            "21",
            "22",
            "23",
            "24",
            "25",
            "26",
            "27",
            "28",
            "29",
            "30",
          ],
          height: 1,
        },
        {
          title: "Time",
          subTitle: "Select your time",
          values: [
            "10 Am",
            "11 Am",
            "3 Pm",
            "4 Pm",
            "5 Pm",
            "6 Pm",
            "9 Pm",
            "12 Am",
            "2 Am",
            "4 Am",
          ],
          height: 1,
        },
      ],
    };
  },
};
</script>

<style>
</style>