<template>
  <div
    class="car-boxs grid gap-y-6 xxs:px-6 xs:grid-cols-2 xs:px-0 xs:gap-4 md:gap-6 2md:grid-cols-3 2lg:grid-cols-4 2lg:gap-8 items-stretch"
  >
    <CarBox v-for="(car, index) in cars" :key="index" :car="car" />
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(["cars"]),
  },
  
};
</script>

<style>
</style>