<template>
  <div class="billing-info bg-white p-6 rounded-xl flex flex-col gap-y-8">
    <div class="billing-info__head flex justify-between items-end">
      <div class="flex flex-col gap-y-1">
        <h1 class="text-xl font-bold">Billing Info</h1>
        <span class="text-gray-400 font-medium text-sm"
          >Please enter your billing info</span
        >
      </div>
      <div class="text-sm text-gray-400 font-medium">
        <span>Step 1 of 4</span>
      </div>
    </div>
    <div class="form-inputs grid grid-cols-2 gap-8">
      <div
        class="form-input flex flex-col gap-y-3 col-span-1"
        v-for="(input, index) in inputs"
        :key="index"
      >
        <label class="font-semibold text-sm" :for="input.title">{{
          input.title
        }}</label>
        <input
          :type="input.type"
          :id="input.title"
          :name="input.title"
          :placeholder="input.placeholder"
          v-model="input.value"
          class="bg-gray-100 text-gray-600 text-sm rounded-lg px-5 py-2.5 cursor-pointer focus:outline-0 focus:bg-gray-200 transition duration-500"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      inputs: [
        {
          title: "Name",
          value: "",
          placeholder: "Your  Name",
          type: "text",
        },
        {
          title: "Phone Number",
          value: "",
          placeholder: "Phone  Number",
          type: "tel",
        },
        {
          title: "Email",
          value: "",
          placeholder: "Your  Email",
          type: "email",
        },
        {
          title: "Town / City",
          value: "",
          placeholder: "Town  or  City",
          type: "text",
        },
      ],
    };
  },
};
</script>

<style>
</style>