<template>
  <div
    class="confirmation peyment-method bg-white p-6 rounded-xl flex flex-col gap-y-8"
  >
    <div class="confirmation__head flex justify-between items-end">
      <div class="flex flex-col gap-y-1">
        <h1 class="text-xl font-bold">Confirmation</h1>
        <span class="text-gray-400 font-medium text-sm"
          >We are getting to the end. Just few clicks and your rental is
          ready!</span
        >
      </div>
      <div class="text-sm text-gray-400 font-medium">
        <span>Step 4 of 4</span>
      </div>
    </div>
    <form class="confirmation-checkboxs flex flex-col gap-y-6">
      <label
        class="confirmation-checkbox bg-gray-100 px-8 py-4 rounded-lg flex gap-x-5 cursor-pointer"
        v-for="(txt, index) in checkboxs"
        :key="index"
        :for="index"
      >
        <input type="checkbox" class="" :name="index" :id="index" />
        <span class="text-gray-600 font-semibold">{{ txt }}</span>
      </label>
    </form>
    <div class="confirmation__button">
      <button>
        <nuxt-link
          to="/"
          class="bg-blue-600 rounded-xl px-8 py-4 text-white block hover:bg-blue-700 transition duration-300"
          >Rent Now</nuxt-link
        >
      </button>
    </div>
    <div class="confirmation-desc mt-2">
        <img src="@/assets/images/icons/security.svg" alt="">
        <span class="font-semibold mt-4 mb-2 block">All your data are safe</span>
        <p class="text-gray-400 text-sm">We are using the most advanced security to provide you the best experience ever.</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      checkboxs: [
        "I agree with sending an Marketing and newsletter emails. No spam, promissed!",
        "I agree with our terms and conditions and privacy policy.",
      ],
    };
  },
};
</script>

<style scoped>
input[type="checkbox"] {
  transform: scale(1.5);
  /* -moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	 */
}
</style>