<template>
  <div class="peyment-method bg-white p-6 rounded-xl flex flex-col gap-y-8">
    <div class="peyment-method__head flex justify-between items-end">
      <div class="flex flex-col gap-y-1">
        <h1 class="text-xl font-bold">Billing Info</h1>
        <span class="text-gray-400 font-medium text-sm"
          >Please enter your billing info</span
        >
      </div>
      <div class="text-sm text-gray-400 font-medium">
        <span>Step 3 of 4</span>
      </div>
    </div>
    <form class="peyment-cards flex flex-col gap-y-6">
      <label
        v-for="(option, index) in options"
        :key="index"
        class="peyment-card flex flex-col gap-y-8 rounded-lg bg-gray-100 px-6 py-4 w-full cursor-pointer transition duration-500"
        :for="option.name"
        :class="option.checked ? 'bg-gray-200' : ''"
        @click="payOptionClicked(index)"
      >
        <div
          class="peyment-card__head flex justify-between items-center w-full"
        >
          <div class="flex gap-x-2">
            <input
              :checked="option.checked"
              type="radio"
              :name="option.name"
              :id="option.name"
            />
            <span class="font-semibold">{{ option.name }}</span>
          </div>
          <div class="">
            <img
              :src="require(`@/assets/images/logo/${option.logo}.svg`)"
              alt=""
            />
          </div>
        </div>
        <div
          v-if="option.checked"
          class="peyment-inputs grid grid-cols-2 gap-8"
        >
          <div
            class="peyment-input flex flex-col gap-y-3 col-span-1"
            v-for="(input, index) in option.inputs"
            :key="index"
          >
            <label class="font-semibold text-sm" :for="input.title">{{
              input.title
            }}</label>
            <input
              :type="input.type"
              :id="input.title"
              :name="input.title"
              :placeholder="input.placeholder"
              v-model="input.value"
              class="bg-white text-gray-600 text-sm rounded-lg px-5 py-2.5 cursor-pointer focus:outline-0"
            />
          </div>
        </div>
      </label>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      options: [
        {
          name: "Credit  Card",
          logo: "vesa",
          checked: false,
          inputs: [
            {
              title: "Card Number",
              placeholder: "Card number",
              type: "number",
              value: "",
            },
            {
              title: "Expration Date",
              placeholder: "DD / MM / YYr",
              type: "date",
              value: "",
            },
            {
              title: "Card Holder",
              placeholder: "Card holder",
              type: "number",
              value: "",
            },
            {
              title: "CVC",
              placeholder: "CVC",
              type: "number",
              value: "",
            },
          ],
        },
        {
          name: "Paypal",
          logo: "paypal",
          checked: false,
          inputs: [
            {
              title: "Card Number",
              placeholder: "Card number",
              type: "number",
              value: "",
            },
            {
              title: "Expration Date",
              placeholder: "DD / MM / YYr",
              type: "date",
              value: "",
            },
            {
              title: "Card Holder",
              placeholder: "Card holder",
              type: "number",
              value: "",
            },
            {
              title: "CVC",
              placeholder: "CVC",
              type: "number",
              value: "",
            },
          ],
        },
        {
          name: "Bitcoin",
          logo: "bitcoin",
          checked: false,
          inputs: [
            {
              title: "Card Number",
              placeholder: "Card number",
              type: "number",
              value: "",
            },
            {
              title: "Expration Date",
              placeholder: "DD / MM / YYr",
              type: "date",
              value: "",
            },
            {
              title: "Card Holder",
              placeholder: "Card holder",
              type: "number",
              value: "",
            },
            {
              title: "CVC",
              placeholder: "CVC",
              type: "number",
              value: "",
            },
          ],
        },
      ],
    };
  },
  methods: {
    payOptionClicked(index) {
      for (let i = 0; i < this.options.length; i++) {
        if (i === index) {
          this.options[i].checked = true;
        } else {
          this.options[i].checked = false;
        }
      }
    },
  },
};
</script>

<style scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>