<template>
  <div class="rental-summary bg-white p-6 rounded-xl flex flex-col gap-y-8">
    <div class="rental-summary__head flex flex-col gap-y-1">
      <h2 class="text-xl font-bold">Rental Summary</h2>
      <p class="text-gray-400 text-sm">
        Prices may change depending on the length of the rental and the price of
        your rental car.
      </p>
    </div>
    <div class="rental-car flex gap-x-4">
      <div class="" v-for="(image, index) in car.images" :key="index">
        <div
          v-if="index === 0"
          class="rental-car__img bg-blue-500 rounded-lg px-5 py-9"
        >
          <img
            class="mx-auto"
            :src="require('@/assets/images/cars/' + image + '.svg')"
            :alt="image"
          />
        </div>
      </div>

      <div
        class="rental-car__details flex flex-col gap-y-3 w-full justify-center"
      >
        <h3 class="text-3xl font-bold">{{ car.name }}</h3>
        <div class="flex flex-col md:flex-row gap-x-2">
          <div class="rental-car__rating flex items-center">
            <svg
              v-for="(star, index) in 5"
              :key="index"
              aria-hidden="true"
              class="w-5 h-5"
              :class="rate > index ? 'text-yellow-400' : 'text-gray-300'"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
          </div>
          <div class="rental-car__reviews-count text-sm text-gray-600">
            <span>
              <!-- {{ reviewersCount }}  -->
              + Reviewers</span
            >
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="rental-checkout flex flex-col gap-y-6">
      <div class="rental-checkout__subtotal flex justify-between items-center">
        <span class="text-gray-400">Subtotal</span>
        <span class="font-semibold">${{ car.pricePerDayDis }}.00</span>
      </div>
      <div class="rental-checkout__tax flex justify-between items-center">
        <span class="text-gray-400">Tax</span>
        <span class="font-semibold">$0</span>
      </div>
      <div class="rental-checkout__discount mt-2 flex items-center">
        <input
          type="text"
          class="text-sm text-gray-400 bg-gray-100 rounded-lg px-6 py-3.5 cursor-pointer w-full focus:outline-0"
          placeholder="Apply promo code"
        />
        <button class="font-semibold">Apply now</button>
      </div>
      <div
        class="rental-checkout__price flex justify-between items-center mt-2"
      >
        <div class="flex flex-col gap-y-1">
          <span class="text-xl font-bold">Total Rental Price</span>
          <p class="text-gray-400 text-sm">
            Overall price and includes rental discount
          </p>
        </div>
        <div class="text-2xl font-bold">
          <span>${{ car.pricePerDayDis }}.00</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    car: {
      type: Object,
      required: true,
    },
  },
  computed: {
    rate() {
      return Math.floor(this.car.rate);
    },
  },
};
</script>

<style scoped lang="scss">
.rental-car {
  &__img {
    background-image: url("@/assets/images/backgrounds/bg2.svg");
    background-size: cover;
    // height: 120px;
    // width: 150px;
  }
}
.rental-checkout {
  &__discount {
    position: relative;
    button {
      position: absolute;
      right: 20px;
    }
  }
}
</style>