<template>
  <div class="rental-info bg-white p-6 rounded-xl flex flex-col gap-y-8">
    <div class="rental-info__head flex justify-between items-end">
      <div class="flex flex-col gap-y-1">
        <h1 class="text-xl font-bold">Rental Info</h1>
        <span class="text-gray-400 font-medium text-sm"
          >Please select your rental date</span
        >
      </div>
      <div class="text-sm text-gray-400 font-medium">
        <span>Step 2 of 4</span>
      </div>
    </div>
    <div class="rental-boxs flex flex-col gap-y-12">
      <div
        class="rental-box flex flex-col gap-y-6"
        v-for="(rentalItem, index) in rentalItems"
        :key="index"
      >
        <div class="rental-box__head">
          <input
            type="radio"
            :name="rentalItem.title"
            :id="rentalItem.title"
            checked
          />
          <label :for="rentalItem.title">{{ rentalItem.title }}</label>
        </div>
        <form class="form-selects grid grid-cols-2 gap-8">
          <div
            class="form-select flex flex-col gap-y-3 col-span-1"
            v-for="(select, i) in rentalItem.selects"
            :key="i"
          >
            <label class="font-semibold text-sm" :for="select.title">{{
              select.title
            }}</label>
            <select
              class="bg-gray-100 text-gray-400 text-sm rounded-lg px-5 py-2.5 cursor-pointer focus:outline-0 focus:bg-gray-200 transition duration-500"
              :name="select.title"
              :id="select.title"
            >
              <option value="" selected>{{ select.placeholder }}</option>
              <option
              class="bg-white"
                :value="option"
                v-for="(option, j) in select.options"
                :key="j"
              >
                {{ option }}
              </option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      rentalItems: [
        {
          title: "Pick - Up",
          selects: [
            {
              title: "Locations",
              value: "",
              placeholder: "Select  your  city",
              options: [
                "New York",
                "Los Angeles",
                "Chicago",
                "Miami",
                "Las Vegas",
              ],
            },
            {
              title: "Date",
              value: "",
              placeholder: "Select  Your  Date",
              options: ["1", "2", "4", "6", "7", "8", "12", "16", "20", "27"],
            },
            {
              title: "Time",
              value: "",
              placeholder: "Select  Your  Time",
              options: ["5 Pm", "6 Pm", "9 Pm", "12 Am", "2 Am", "4 Am"],
            },
          ],
        },
        {
          title: "Drop - Off",
          selects: [
            {
              title: "Locations",
              value: "",
              placeholder: "Select  your  city",
              options: ["New York", "Los Angeles", "Chicago"],
            },
            {
              title: "Date",
              value: "",
              placeholder: "Select  Your  Date",
              options: ["1", "3", "4", "7", "9", "15", "18", "30"],
            },
            {
              title: "Time",
              value: "",
              placeholder: "Select  Your  Time",
              options: ["10 Am", "11 Am", "3 Pm", "4 Pm", "5 Pm"],
            },
          ],
        },
      ],
    };
  },
};
</script>

<style>
</style>