<template>
  <div class="error-alert flex justify-center items-center">
    <Transition appear name="show">
      <div
        v-if="errorAlertStatus"
        class="error-box w-4/12 bg-white flex justify-between items-center p-5 rounded-xl gap-x-3"
      >
        <div class="error-box__content flex items-center gap-x-3">
          <div class="error-box__icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#e11d48"
              class="w-8 h-8"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          </div>
          <div class="error-box__msg">
            <span class="font-bold inline-block mb-1">Invalid user!</span><br />
            <p class="text-stone-500">
              create an account first by clicking on
              <nuxt-link to="/" class="underline text-blue-500"
                >Register now</nuxt-link
              >
              button
            </p>
          </div>
        </div>
        <div class="error-box__close cursor-pointer" @click="closeAlertBtn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#a8a29e"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
      </div>
    </Transition>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  methods: {
    closeAlertBtn() {
      this.$store.commit("CHANGE_ALERT_STATUS", false);
    },
  },
  computed: {
    ...mapState(["errorAlertStatus"]),
  },
};
</script>

<style scoped lang="scss">
.error-alert {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.259);
  backdrop-filter: blur(3px);
}
.show-enter-active {
  animation: bounce 0.5s;
}
.show-leave-active {
  animation: bounce 0.5s reverse;
}
@keyframes bounce {
  0% {
    transform: scale(0);
  }
  // 50% {
  //   transform: scale(1.25);
  // }
  100% {
    transform: scale(1);
  }
}
</style>