<template>
  <div class="header flex justify-center bg-white py-7 items-center">
    <div class="container w-10/12 flex justify-between items-center">
      <div
        class="header-left w-7/12 xs:w-8/12 lg:w-6/12 flex justify-between items-center"
      >
        <div class="header-logo w-24 sm:w-auto">
          <Logo />
        </div>
        <div class="header-searchBox w-8/12 sm:w-7/12">
          <div class="header-searchBox-sys hidden xs:block">
            <div class="header-searchBox-sys__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#9ca3af"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </div>
            <div class="header-searchBox-sys__input">
              <input
                class="focus:outline-0 w-full pl-12 text-sm sm:text-base rounded-full cursor-pointer"
                type="text"
                placeholder="search something here ..."
              />
            </div>
          </div>
          <div class="header-searchBox-mob xs:hidden">
            <div class="header-searchBox-mob__icon cursor-pointer flex justify-end">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#9ca3af"
                class="w-9 h-9 rounded-full p-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="header-right">
        <div class="header-loggedIn" v-if="loggedInUser.email">
          <div class="header-gadjets flex items-center gap-x-4">
            <div
              v-for="(icon, index) in icons"
              :key="index"
              :class="icon.class"
              class="cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#2563eb"
                class="w-7 h-7"
              >
                <path
                  v-for="(path, index) in icon.paths"
                  :key="index"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  :d="path"
                />
              </svg>
            </div>
            <div class="header-profile">
              <img :src="loggedInUser.image" :alt="loggedInUser.username" />
            </div>
          </div>
        </div>
        <div class="header-loggedOut" v-else>
          <nuxt-link
            class="header-button bg-blue-600 hover:bg-blue-700 text-white rounded text-sm px-3 py-2 sm:px-4 sm:py-3"
            :to="{ name: 'Login' }"
            >Login / Signup</nuxt-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      icons: [
        {
          class: "header-favorites",
          paths: [
            "M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z",
          ],
        },
        {
          class: "header-alerts",
          paths: [
            "M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0",
          ],
        },
        {
          class: "header-settings",
          paths: [
            "M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z",
            "M15 12a3 3 0 11-6 0 3 3 0 016 0z",
          ],
        },
      ],
    };
  },
  computed: {
    ...mapState(["loggedInUser"]),
  },
};
</script>

<style scoped lang="scss">
.header-searchBox-sys {
  position: relative;

  &__icon {
    position: absolute;
    left: 15px;
    top: 6px;
  }

  &__input {
    input {
      border: 1px solid #e2e8f0;
      font-size: 14px;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}
.header-searchBox-mob {
  &__icon {
    svg{
      border: 1px solid #e2e8f0;
    }
  }
}
.header-right {
  a {
    transition: ease-in-out 0.4s;
  }
  .header-gadjets {
    svg {
      transition: ease-in-out 0.3s;

      &:hover {
        transform: scale(1.16);
      }
    }
  }
}
</style>