<template>
  <div class="logo">
    <nuxt-link to="/">
      <figure>
        <img src="@/assets/images/logo/logo.svg" alt="Morent logo" />
      </figure>
    </nuxt-link>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>