<template>
  <div
    class="switch-icon bg-blue-600 p-4 shadow-xl shadow-blue-300 hover:shadow-lg hover:shadow-blue-300 rounded-lg cursor-pointer"
  >
    <img
      src="@/assets/images/details/switch.svg"
      alt=""
      class="w-5 xs:w-6 md:w-11"
    />
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
.switch-icon {
  transition: ease-in-out 0.3s;
  &:hover {
    transform: scale(0.97);
  }
}
</style>