<template>
  <div class="mobile-filter flex justify-center px-8 pt-6">
    <div
      class="filter-boxs grid grid-cols-2 gap-4 bg-white w-full rounded-xl py-5 px-7"
    >
      <div
        class="filter-box col-span-2 xxs:col-span-1 flex flex-col justify-center gap-y-3 bg-gray-100 px-3 py-2 rounded-lg"
        v-for="(checkbox, index) in checkboxs"
        :class="checkbox.visibility ? 'open' : 'close'"
        :key="index"
        @click="checkbox.visibility = !checkbox.visibility"
      >
        <div
          class="filter-box__head text-gray-500 flex justify-between items-center"
        >
          <span class="text-xs">{{ checkbox.title }}</span>
          <div class="filter-box__icon">
            <svg
              v-if="!checkbox.visibility"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
            <svg
              v-else
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 15.75l7.5-7.5 7.5 7.5"
              />
            </svg>
          </div>
        </div>
        <div class="filter-box__content" v-if="checkbox.visibility">
          <div class="check-boxs flex flex-col gap-y-4" v-if="checkbox.options">
            <div
              class="check-box flex items-center w-full"
              v-for="(option, i) in checkbox.options"
              :key="i"
            >
              <input
                :id="option"
                type="checkbox"
                value=""
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
              />
              <label
                :for="option"
                class="ml-2 text-sm font-medium text-gray-500"
                >{{ option }}</label
              >
            </div>
          </div>
          <div class="range-box" v-else>
            <input type="range" name="priceRange" id="priceRange" class="w-full"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(["checkboxs"]),
  },
  methods: {},
};
</script>

<style scoped lang="scss">
.filter-box {
  //  overflow: hidden;

    -webkit-transition: height .8s ease;
    -moz-transition: height .8s ease;
    -ms-transition: height .8s ease;
    -o-transition: height .8s ease;
    transition: height .8s ease;
}
.close{
  height: 36px;
}
.open{
  overflow: hidden;
  height: 100%;
}
</style>