<template>
  <div
    class="rent-detail bg-white w-full rounded-xl pt-6 pb-2 px-8 hover:shadow-lg hover:shadow-zinc-200 cursor-pointer"
  >
    <form action="" class="flex flex-col gap-y-4">
      <div class="rent-title">
        <input type="radio" name="pickUp" id="pickUp" value="pickUp" checked />
        <label for="pickUp" class="font-bold">{{ title }}</label>
      </div>
      <div class="rent-inputs flex flex-col xs:grid xs:grid-cols-2 xs:gap-x-4 md:grid-cols-1 lg:grid-cols-2 xl:flex xl:flex-row xl:gap-x-0">
        <div
          class="rent-input flex items-center"
          v-for="(detail, index) in details"
          :key="index"
        >
          <div class="flex flex-col gap-y-2 w-full">
            <div class="rent-input__label">
              <label :for="detail.title" class="font-extrabold">{{
                detail.title
              }}</label>
            </div>
            <div class="rent-input__selection mb-5">
              <select
                :id="detail.title"
                class="bg-gray-100 text-gray-600 text-sm cursor-pointer rounded-lg border border-white focus:border-blue-400 focus:ring-blue-500 block w-full p-2 2xl:py-2 2xl:px-1"
              >
                <option selected>{{ detail.subTitle }}</option>
                <option
                  v-for="(value, subIndex) in detail.values"
                  :key="subIndex"
                  :value="value"
                >
                  {{ value }}
                </option>
              </select>
            </div>
          </div>
          <hr class="w-14 hidden xl:block" v-if="index < 2" />
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    details: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
.rent-detail {
  transition: ease-in-out 0.3s;
  .rent-input {
    hr {
      transform: rotate(90deg);
    }
    &__selection {
      select {
        transition: ease-in-out 0.3s;
        &:focus {
          outline: none;
          // border: 1px solid blue;
        }
      }
    }
  }
}
</style>