<template>
  <div class="footer bg-white flex justify-center items-center py-16">
    <div class="footer-container w-10/12">
      <div class="footer-top">
        <div class="footer-boxs grid grid-cols-2 gap-y-10 gap-x-5 md:grid-cols-3 lg:grid-cols-6">
          <div class="footer-box col-span-2 md:col-span-3 lg:col-span-3 flex flex-col gap-y-4">
            <Logo />
            <p class="text-gray-500">
              Our vision is to provide convenience and<br />
              help increase your sales business.
            </p>
          </div>
          <div
            class="footer-box flex flex-col col-span-1 gap-y-5"
            v-for="(nav, index) in navs"
            :key="index"
          >
            <div class="footer-box__title text-xl font-semibold">
              <span>{{ nav.title }}</span>
            </div>
            <div class="footer-box__links text-gray-500">
              <ul class="flex flex-col gap-y-4">
                <li v-for="(link, i) in nav.links" :key="i">
                  <nuxt-link :to="link.href">{{ link.title }}</nuxt-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-11" />
      <div class="footer-bottom flex flex-col md:flex-row gap-y-6 justify-between items-center">
        <div>
          <p class="font-semibold text-center lg:text-left">©2022 MORENT. All rights reserved</p>
        </div>
        <div class="flex">
          <ul class="flex gap-x-8 font-semibold">
            <li>
              <nuxt-link to="/">Privacy & Policy</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/">Terms & Condition</nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      navs: [
        {
          title: "About",
          links: [
            { title: "How It Works", href: "/" },
            { title: "Featured", href: "/" },
            { title: "Partnership", href: "/" },
            { title: "Bussiness Relation", href: "/" },
          ],
        },
        {
          title: "Community",
          links: [
            { title: "Events", href: "/" },
            { title: "Blog", href: "/" },
            { title: "Podcast", href: "/" },
            { title: "Invite a friend", href: "/" },
          ],
        },
        {
          title: "Socials",
          links: [
            { title: "Discord", href: "/" },
            { title: "Instagram", href: "/" },
            { title: "Twitter", href: "/" },
            { title: "Facebook", href: "/" },
          ],
        },
      ],
    };
  },
};
</script>

<style>
</style>