<template>
  <div>
    <Nuxt keep-alive />
  </div>
</template>
<style>
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
</style>