<template>
  <div>
    <Header />
    <Nuxt keep-alive/>
    <Footer />
  </div>
</template>
<script>
export default {
  created() {
    this.$store.dispatch("setCars");
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f6f7f9;
}
</style>