<template>
  <div class="home flex justify-center pt-7">
    <div class="container w-10/12">
      <div class="car-banners">
        <div class="car-banners--full hidden md:grid md:grid-cols-2 md:gap-x-8">
          <CarBanner
            v-for="(banner, index) in banners"
            :key="index"
            :banner="banner"
          />
        </div>
        <div class="car-banner--mobile md:hidden">
          <div v-for="(banner, index) in banners" :key="index">
            <CarBanner v-if="index === 0" :banner="banner" />
          </div>
        </div>
      </div>
      <div
        class="rent-details flex flex-col gap-y-5 items-center mt-9 md:flex-row md:justify-between md:gap-x-5"
      >
        <RentDetails :details="details" title="pick-up" />
        <SwitchIcon />
        <RentDetails :details="details" title="Drop - Off" />
      </div>
      <!-- Popular Cars Selection -->
      <CarsSelection
        title="Popular Cars"
        :filteredCars="popularCars"
        goTo="/"
      />
      <!--  Recomended Cars Selection -->
      <CarsSelection title="Recomended Cars" :filteredCars="cars" goTo="/" />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  layout: "default",
  name: "Home",
  
  head: {
    title: "home-page",
  },

  data() {
    return {
      banners: [
        {
          title: "The Best Platform<br/> for Car Rental",
          text: "Ease of doing a car rental safely and<br/> reliably. Of course at a low price.",
          btnText: "Rental Car",
          btnBgColor: "bg-blue-600",
          bgColor: "bg-blue-400",
          bgPattern: "bg1",
          carImg: "Koenigsegg",
          imgWidth: "440px",
        },
        {
          title: "Easy way to rent a<br/> car at a low price",
          text: "Providing cheap car rental services<br/> and safe and comfortable facilities.",
          btnText: "Rental Car",
          btnBgColor: "bg-blue-400",
          bgColor: "bg-blue-600",
          bgPattern: "bg2",
          carImg: "Nissan GT - R",
          imgWidth: "400px",
        },
      ],
      details: [
        {
          title: "Location",
          subTitle: "Select your city",
          values: ["New York", "Los Angeles", "Chicago", "Miami", "Las Vegas"],
          height: 1,
        },
        {
          title: "Date",
          subTitle: "Select your date",
          values: [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9",
            "10",
            "11",
            "12",
            "13",
            "14",
            "15",
            "16",
            "17",
            "18",
            "19",
            "20",
            "21",
            "22",
            "23",
            "24",
            "25",
            "26",
            "27",
            "28",
            "29",
            "30",
          ],
          height: 1,
        },
        {
          title: "Time",
          subTitle: "Select your time",
          values: [
            "10 Am",
            "11 Am",
            "3 Pm",
            "4 Pm",
            "5 Pm",
            "6 Pm",
            "9 Pm",
            "12 Am",
            "2 Am",
            "4 Am",
          ],
          height: 1,
        },
      ],
    };
  },
  computed: {
    ...mapState(["cars"]),

    popularCars() {
      const cars = [...this.$store.state.cars].sort((a, b) => {
        let compare = 0;
        if (a["rate"] > b["rate"]) {
          compare = 1;
        } else if (b["rate"] > a["rate"]) {
          compare = -1;
        }
        return compare;
      });
      console.log(cars);
      return cars;
    },
  },
};
</script>
<style scoped lang="scss">
</style>