<template>
  <div class="login-page flex justify-center items-center">
    <!-- Loading component -->
    <Loading v-if="loadingIsActive" />

    <!-- Alert component -->
    <ErrorAlert v-if="errorAlertStatus" />

    <!-- Login component -->
    <div
      class="login-box bg-white p-7 w-8/12 sm:w-6/12 lg:w-4/12 xl:w-3/12 rounded-lg"
    >
      <Logo class="w-24 mx-auto mb-5" />
      <form class="login-form" action="" @submit.prevent="formSubmitted">
        <div class="login-fields flex flex-col gap-y-6">
          <div
            class="login-field flex flex-col gap-y-2"
            v-for="input in inputs"
            :key="input.key"
          >
            <label class="login-field__label font-bold" :for="input.key">{{
              input.label
            }}</label>
            <input
              class="login-field__input text-sm px-5 py-3 rounded-lg w-full cursor-pointer focus:outline-0"
              :type="input.key"
              v-model="input.value"
              :name="input.key"
              :id="input.key"
              :placeholder="input.placeholder"
            />
            <span v-if="input.showEmptyError" class="text-rose-500 text-sm"
              >Please enter {{ input.key }}</span
            >
          </div>
        </div>
        <div class="login-submit mt-6 flex justify-between items-center">
          <input
            class="login-btn text-white cursor-pointer px-4 py-2 rounded"
            type="submit"
            value="Login"
          />
          <nuxt-link class="text-sm underline" style="color: #3563e9" to="/"
            >Register here</nuxt-link
          >
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Logo from "@/components/logo.vue";
import { mapState } from "vuex";
import axios from "axios";

export default {
  layout: "auth",
  name: "Login",
  head: {
    title: "login-page",
  },
  data() {
    return {
      inputs: [
        {
          key: "email",
          label: "Email",
          placeholder: "Your Email",
          value: "",
          showEmptyError: false,
        },
        {
          key: "password",
          label: "Password",
          placeholder: "Your Password",
          value: "",
          showEmptyError: false,
        },
      ],

      user: {
        email: "",
        password: "",
      },

      emailIsEmpty: false,
      passIsEmpty: false,
    };
  },
  computed: {
    ...mapState(["errorAlertStatus", "loadingIsActive"]),
  },
  methods: {
    // by clicking on login button
    formSubmitted() {
      this.inputs.forEach((input) => {
        if (input.key === "email") {
          this.user.email = input.value;
        } else {
          this.user.password = input.value;
        }
        input.value = "";
      });
      this.checkUserValidation();
    },

    // checking the inputs that user is registered or not
    async checkUserValidation() {
      if (this.user.email) {
        if (this.user.password) {
          let results = await axios.get("http://localhost:3001/users");
          let registeredUsers = results.data;
          registeredUsers.forEach((registeredUser) => {
            if (registeredUser.email === this.user.email) {
              if (registeredUser.password === this.user.password) {
                let user = {
                  email: registeredUser.email,
                  username: registeredUser.username,
                  role: registeredUser.role,
                  image: registeredUser.image,
                };

                // set logged in user in localstorage
                localStorage.setItem("loggedInUser", JSON.stringify(user));
                console.log("loggedIn ===== ", user);

                // set logged in user in store
                // this.$store.dispatch("setLoggedInUser", user);

                // set loading true
                this.$store.dispatch("changeLoadingStatus", true);

                setTimeout(() => {
                  this.$store.dispatch("changeLoadingStatus", false);
                  this.$router.push({ name: "index" });
                }, 3000);
              }
            } else {
              this.$store.commit("CHANGE_ALERT_STATUS", true);
            }
          });
        } else {
          this.inputs.forEach((input) => {
            if (input.key === "password") {
              input.showEmptyError = true;
            }
          });
        }
      } else {
        this.inputs.forEach((input) => {
          if (input.key === "email") {
            input.showEmptyError = true;
          }
        });
        if (!this.user.password) {
          this.inputs.forEach((input) => {
            if (input.key === "password") {
              input.showEmptyError = true;
            }
          });
        }
      }
    },
  },
  components: {
    Logo,
  },
};
</script>

<style lang="scss" scoped>
.login-page {
  min-height: 100vh;
  background-color: $bgColor;
  overflow: hidden;

  input {
    background-color: $bgColor;
  }
  .login-submit {
    .login-btn {
      background-color: $blueColor;
      transition: ease-in-out 0.4s;

      &:hover {
        background-color: #2a51c3;
      }
    }

    a {
      transition: ease-in-out 0.4s;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
</style>