<template>
  <div class="shop-page flex flex-col xs:flex-row">
    <div class="filter-boxs xs:hidden">
      <MobileFilter />
    </div>
    <div class="side-bar hidden xs:block lg:w-2/12">
      <SideBar />
    </div>
    <div class="shop-content w-full px-6 py-6 lg:p-8">
      <Nuxt />
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'shop-page',
  }
};
</script>

<style scoped lang="scss">
</style>