<template>
  <div class="cars-selection mt-10">
    <div class="cars-selection__head flex justify-between mb-7">
      <div class="car-selection__title">
        <span class="text-slate-400">{{title}}</span>
      </div>
      <div class="car-selection__btn">
        <button>
          <nuxt-link :to="goTo" class="text-blue-500 font-semibold"
            >View All</nuxt-link
          >
        </button>
      </div>
    </div>
    <div
      class="car-boxs grid gap-y-6 xxs:px-6 xs:grid-cols-2 xs:px-0 xs:gap-4 md:gap-6 2md:grid-cols-3 2lg:grid-cols-4 2lg:gap-8 items-stretch"
    >
      <!-- <CarBox v-for="(car, index) in cars"
            :key="index" :car="car"/> -->
      <div class="" v-for="(car, index) in filteredCars" :key="index">
        <CarBox v-if="index <= 3" :car="car" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    filteredCars: {
      type: Array,
      required: true,
    },
    goTo: {
      type: String,
      required: true,
    },
  },
};
</script>

<style>
</style>