<template>
  <div class="rent-form flex justify-center">
    <div
      class="rent-form__container w-10/12 my-9 grid grid-cols-5 gap-x-8 items-start"
    >
      <div class="rent-forms col-span-3 flex flex-col gap-y-8">
        <RentFormBillingInfo />
        <RentFormRentalInfo />
        <RentFormPaymentMethod/>
        <RentFormConfirmation/>
      </div>
      <div class="rent-aside col-span-2">
        <RentFormRentalSummary :car="currentCar"/>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  head(){
    return{
      title: this.currentCar.name + 'rental'
    }
  },
  computed: {
    ...mapState(['currentCar'])
  },
  created() {
    this.$store.dispatch("setCurrentCar", this.$route.params.name);
  },
};
</script>

<style scoped lang="scss">
</style>